<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class=""></i>
    <h1 class="display-3"></h1>
    <p class="lead">Let's play a game!</p>
    <p class = "lead">Enter your credentials to keep track of your high score or enter as a guest.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-dark btn-lg" href="/guest" role="button">Guest</a>


  </div>
</div>

<%- include('partials/footer') %>
